body{
  background-image: url(honeycomb.png);
background-position: center;
background-attachment: fixed;
background-repeat: repeat;
height: 50vh;
font-family: 'Merriweather', serif;
}

.disabled{
  pointer-events: none;
}



.resize{
  height: 10em;
}

.card{
  opacity: 90%;
  box-shadow: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
button:hover{
  box-shadow: 0 4px 8px 0 #00000033;
  transition: .6s;
}

.text-shadow{
  text-shadow: 1px 1px black;
}
@media only screen and (max-width: 600px){
  .size{
    width: 100px;
    height: 150px;
    cursor: pointer;
    border-radius: 50%;
    top: unset;
  }
}

@media only screen and (min-width: 600px) {
  .size{
    width: 200px;
    height: 250px;
    cursor: pointer;
    border-radius: 50%;
  }
}

.hover:hover(){
  box-shadow: 5px 4px 8px 5px #00000033;
  transition: .6s;
}

@media only screen and (max-width: 600px) {
  .sm-hidden {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .sm-1-hidden {
    max-height: 22em;
    font-size: xx-small !important;
  }
}


